# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

### **Objectives:**
- Python
- SQL
- R

#### Some of the popular languages that Data Scientists use are
1. Python
2. SQL
3. R

#### Some of the popular languages that Data Scientists use are: 
1. Pandas
2. NumPy
3. TensorFlow


|Data Science Tools|
|----------|
|Jupyter Notebooks|
| VS Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [23]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
my name